
@tailwind base;
@tailwind components;
@tailwind utilities;


body {

  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.herobg{
  background: #F09819;
  background: -webkit-linear-gradient(to top right, #fcf6c4, #f7dd49);
  background: linear-gradient(to top right, #fcf6c4, #f7dd49);
}


@media only screen and (max-width: 750px) {
  .inputbar{
    display: block;
    margin-right: 3.5vw;
  }
  .buttons{
    margin-top: 20px;
    margin-left: 0px;
  }
  .hero{
    margin-left: 3vw;
  }
  .herobg{
    background-position: -10.5vw -25vh; ;
  }
  .herotext{
    font-size: 2.5rem;
  }
  .herotext2{
    font-size: 1.3rem;
  }
  .boxes{
    width: 100%;
  }
}


#light{
  background-color: rgb(255, 255, 255);
}

#dark{
  background-color: rgb(7, 12, 15);
}

#dark .about{
  color: rgb(255, 255, 255);
}

#dark .herobg{
  background-image: none;
  background: #091518;

}

#dark .navbg{
  background-color: rgb(7, 17, 22);
}

#dark .herocontent{
  color: white;
}

#dark .searchbutton{
  border: 1px solid white;
  background-color: rgb(1, 24, 39);
}

#dark .searchbutton:hover{
  background-color: rgb(3, 32, 51);
}

#dark .sourcebutton{
  background-color: rgb(14, 41, 53);
  color: rgb(253, 253, 253);
}

.logo{
  letter-spacing: -1.5px;
}


.alert{
  animation: slideIn 1s ease-in-out;
  animation-delay: 10ms;
}


.download-alert{

  animation: slideIn 1s ease-in-out;
  animation-delay: 10ms;

}

.videos{

  animation: fadeIn 0.5s ease-in-out;
  animation-delay: 10ms;

}


@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideIn {
  0% {
      transform: translateX(600px);
  }
  100% {
      transform: translateX(0px);
  }
}

@media only screen and (max-width: 700px) {

  .hero{
    background-position: -50vw 40%;
  }
  .hero:hover{
    background-position: -50vw 40%;
  }
  
}


@media only screen and (max-width: 364px) {

  .download-button{
    margin-left: 13px;
  }

  .quality-select{
    margin-top: 13px;
  } 
}

