
@tailwind base;
@tailwind components;
@tailwind utilities;


body {

  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media only screen and (max-width: 750px) {
  .inputbar{
      display: block;
      margin-right: 3.5vw;
  }
  .buttons{
    margin-top: 20px;
    margin-left: 0px;
  }
  .hero{
    margin-left: 3vw;
  }
  .herotext{
    font-size: 3rem;
  }
  .herotext2{
    font-size: 1.5rem;
  }

}

.hero{
  background-image: url('./assets/5566879.jpg');
  background-size: cover;
  background-position: -0.5vw 25%;
}

.logo{
  letter-spacing: -1.5px;
}

.svg{
  margin-top: 0vh;
  margin-left: 25vw;
}


