
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0a1a1f, #0e0e2c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #05151a, #131333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media only screen and (max-width: 750px) {
  .inputbar{
      display: block;
      margin-right: 3.5vw;
  }
  .buttons{
    margin-top: 20px;
    margin-left: 0px;
  }
  .hero{
    margin-left: 3vw;
  }
  .herotext{
    font-size: 3rem;
  }
  .herotext2{
    font-size: 1.5rem;
  }

}